
@import url('https://fonts.googleapis.com/css2? family= JetBrains+Mono:ital,wght@0,100;0,200;1,100 & display=swap');

*{
  font-family: 'JetBrains Mono', monoespacio;
}

.header{
  height: 15vh;
  flex-direction: column;
  box-shadow: 2px 2px 5px gray;
  opacity: .9;
}

.navbar img{
width: 10%;
height: 95%;
}


.nav-item{
list-style: none;
margin-right: 4%;
}

.main{
  height: 100vh;
}

.footer{
  
  text-align: center;
  height: 25vh;
  background-color: #1EC73A;

}


.footer-menu, .copy{
  font-size: 18px;
}

.footer img{
  height: 30px;
}

.carousel img{
height: 60vh;
width: 100%;
}